In [40]:
people = {
    "first": ["Kiyo", "Corey", 'Jane', 'John'], 
    "last": ["Ndux","Schafer", 'Doe', 'Doe'], 
    "email": ["rmvilla987@gmail.com","CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame(people)

In [43]:
df

   first     last                    email
0   Kiyo     Ndux     rmvilla987@gmail.com
1  Corey  Schafer  CoreyMSchafer@gmail.com
2   Jane      Doe        JaneDoe@email.com
3   John      Doe        JohnDoe@email.com

In [44]:
df['email']

0       rmvilla987@gmail.com
1    CoreyMSchafer@gmail.com
2          JaneDoe@email.com
3          JohnDoe@email.com
Name: email, dtype: object

In [45]:
df.set_index('email', inplace=True)

In [46]:
df

                         first     last
email
rmvilla987@gmail.com      Kiyo     Ndux
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [47]:
df.index

Index(['rmvilla987@gmail.com', 'CoreyMSchafer@gmail.com', 'JaneDoe@email.com',
       'JohnDoe@email.com'],
      dtype='object', name='email')

In [49]:
df.loc['rmvilla987@gmail.com']

first    Kiyo
last     Ndux
Name: rmvilla987@gmail.com, dtype: object