In [27]:
people = {
    "first": ["Kiyo", 'Jane', 'John'], 
    "last": ["Ndux", 'Doe', 'Doe'], 
    "email": ["rmvilla987@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame(people)

In [30]:
df

  first  last                 email
0  Kiyo  Ndux  rmvilla987@gmail.com
1  Jane   Doe     JaneDoe@email.com
2  John   Doe     JohnDoe@email.com

In [31]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [32]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [33]:
filt = (df['last'] == 'Ndux') | (df['first'] == 'John')

In [34]:
df.loc[filt, 'email']

0    rmvilla987@gmail.com
2       JohnDoe@email.com
Name: email, dtype: object

In [35]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object